# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\clang\hook-cl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
